@model AccompProject.Models.NCARequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NCARequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDAccomp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAccomp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASANo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASANo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASAAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASAAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dteRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dteRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeRequest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDNCARequest }) |
    @Html.ActionLink("Back to List", "Index")
</p>
