
@using AccompProject.Helpers
@model IEnumerable<AccompProject.Models.FinancialView>


<div id="projectaccomp">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Financial</strong>
        </div>




        <div class="panel-body">
            @if (User.IsInRole("Financial"))
            {
                @*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add", "Create", "IMTSS", null, htmlAttributes: new { data_modal = "", id = "btnCreate", @class = "btn btn-primary pull-right" })*@
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add", "Create", "Financial", routeValues: new { Id = ViewBag.IDAccomp  }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary pull-right" })
            }
        </div>

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TYPERELEASE)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.REFERENCENO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.asaamount)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.buramount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.obligation_co)
                </th>

              




                @*     <th>@Html.ActionLink("Add", "Create", "IMTSS", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-right" })</th>*@

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TYPERELEASE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REFERENCENO)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.asaamount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.buramount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.obligation_co)
                    </td>


                    <td>
                        <div class="pull-right">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "MyEdit", "Financial", routeValues: new { id = item.IDFinance }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                            &nbsp;
                            @if (User.IsInRole("Financial"))
                            {

                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "Financial", routeValues: new { id = item.IDFinance }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<script type="text/javascript">


    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>

