@using MvcReportViewer

@{
    ViewBag.Title = "View Report";
}

<h2>@ViewBag.nameReport</h2>
<br />


 
    <div >
        @Html.ActionLink("Regional Summary", "ViewReport", new { temp = "Regional" }, new { id = "reg1", @class = "btn btn-primary btn-large"}) |
        @Html.ActionLink("Mainproject Summary", "ViewReport", new { temp = "Mainproject" }, new { id = "reg2", @class = "btn btn-primary btn-large"}) |
        @Html.ActionLink("Detail Accomplishment", "ViewReport", new { temp = "Detail" }, new { id = "reg3", @class = "btn btn-primary btn-large"})
        @Html.ActionLink("Contracts", "ViewReport", new { temp = "CSummary" }, new { id = "reg4", @class = "btn btn-primary btn-large" })


        
    </div>


    @Html.Partial("_ViewReport")
