@model IEnumerable<AccompProject.Models.EmployeeTenant>





<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">LIST OF EMPLOYEE</h4>
</div>
<table class="table" id="example">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantID)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.midname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantID)
                </td>
              

                <td>
                    @Html.DisplayFor(modelItem => item.Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lname)
                </td>
                <td>
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    <button type="button" class="noone"  id="@item.TenantID" data-dat=@item.TenantID>OK</button>
                </td>
            </tr>
        }
    </tbody>
</table>



<script type="text/javascript" charset="utf-8">
    ; (function ($) {
        var table = $('#example').DataTable();
        debugger;
        //$("#closbtn").click(function () {
        //    //var $buttonClicked = $(this);
        //    //var id = $buttonClicked.attr('data-dat');
        //    //alert(id);
        //    //alert($('#closbtn').val());
         

        //    var valbutoon = getButtonValue($(this));
        //    alert(valbutoon);

        // //   $('#empid').val(id);
        //    $('#myModal').modal('hide');
        //});

    //    console.log((table));

        $('#example tbody').on('click', 'td', function () {
           

            var fname = table.cell(this, 1).data();
            var lname = table.cell(this, 3).data();
            var midname = table.cell(this, 2).data();
            var office = table.cell(this, 5).data();

            var empid = table.cell(this, 0).data();
            var suffix = table.cell(this, 4).data();


            console.log(fname);
            console.log(lname);
            console.log(midname);
            console.log(empid);

            $('#empfname').val(fname);
            $('#emplname').val(lname);
            $('#empid').val(empid);
            $('#empmidname').val(midname);
            $('#empsuffix').val(suffix);
            $('#empoffice').val(office);
            $('#myModal').modal('hide');





        });


        $('#example tbody').on( 'click', 'tr', function () {
            //console.log(table.row(this).data());

            //var rowData1 = table.row({ selected: true }).data()[0];
            
            //table.cell(idx, 2).data();
            //console.log(rowData1);
          
        } );



        //$(":button").click(function () {
        //    var $buttonClicked = $(this);
        //    var id = $buttonClicked.attr('data-dat');
        //    var ids = $buttonClicked.text();

        //    alert(id);
        //    alert(ids);

        //    //if (id != undefined) {
        //    //    $('#empid').val(id);
        //    //    $('#myModal').modal('hide');
        //    //}

            
      //  });
      //  alert($('#combocat').val());

    })(jQuery);
</script>
