@model AccompProject.Models.SystemsProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
     <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.Region, new { @Value = Session["region"].ToString() })
        @Html.HiddenFor(model => model.IDSystems)

        <div class="form-group">
            @Html.LabelFor(model => model.Systems,"SYSTEMS NAME", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Systems, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Systems, "", new { @class = "text-danger" })
            </div>

          
        </div>
      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default"  id="btnsave"/>
            </div>
        </div>








    </div>
}



<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="form-group">

    <div class="row">
        <div id="replacetarget">
         @   {


                Html.RenderAction("SystemArea", "InventoryMapping", new { id = Model.IDSystems });


            }


        </div>
    </div>
</div>


















<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
