@using AccompProject.Helpers
@model  PagedList.IPagedList<AccompProject.Models.IAListView>
@using PagedList.Mvc;
@using PagedList;


@Html.Raw(TempData["msg"])


<br />

<div id="listofprojects" class="container-fluid">




    <div class="pagedList" data-jtv-target="#listofprojects">
        @Html.PagedListPager(Model, page => Url.Action("IndexIA", new { page }), PagedListRenderOptions.MinimalWithItemCountText)

    </div>

    <table id="customers" class="table table-hover">


        <tr>
            <th>
                ID
            </th>
            <th>
                IA NAME
            </th>
            <th>
                REGION
            </th>
         
            <th colspan="2" style="text-align:center">
                Actions
            </th>
        </tr>




        @foreach (var item in Model)
        {
            <tr class="oddnum">
                <td>
                    @Html.DisplayFor(modelItem => item.IDIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IAname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.region)
                </td><td>



                    <div class="btn-group">

                        <button type="button" class="btn btn-default">MENU SELECTION</button>

                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>

                        <ul class="dropdown-menu">

                            <li>
                                   @Html.ActionLink("Accomplishment", "Edit", "PhysicalAccomp", new { id = item.IDIA, @class = "dropdown-item" }, null)
                           



                            </li>

                   





                        </ul>

                    </div>



                </td>









            </tr>
        }

    </table>

</div>










@*<div id="listofprojects">

        <div class="pagedList" data-jtv-target="#listofprojects" >
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
        </div>


        @foreach (var item in Model)
        {
            <div>
                <h4>@item.subproject</h4>
                <div>
                    @Html.DisplayFor(modelItem => item.year)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.mainproject)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.municipality)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.amount)
                </div>

                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDAccomp })
                 </div>
                <hr />
            </div>
        }

    </div>
*@
