
@{
    ViewBag.Title = "SMSREAD";
}

<h2>@ViewBag.smsread</h2>


<h2>@ViewBag.smsread1</h2>



<h2>@ViewBag.one</h2>



<h2>@ViewBag.two</h2>



<h2>@ViewBag.three</h2>



<h2>@ViewBag.four</h2>



<h2>@ViewBag.five</h2>



<h2>@ViewBag.six</h2>




<h2>@ViewBag.seven</h2>



<h2>@ViewBag.eight</h2>



<h2>@ViewBag.nine</h2>









