@model AccompProject.Models.ContractView


@{
    ViewBag.Title = "CONTRACT STATUS";
}

<h2>CONTRACT STATUS ACCOMPLISHMENT</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContractID)




        <div class="form-group">

            <div class="row">


                <div class="col-md-3">
                    @Html.LabelFor(model => model.ContractName, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ContractName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ContractName, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.ContractAmount, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ContractAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", Id = "amt" } })
                    @Html.ValidationMessageFor(model => model.ContractAmount, "", new { @class = "text-danger" })


                </div>

            </div>
        </div>

        <div class="form-group">

            <div class="row">


                <div class="col-md-3">
                    @Html.LabelFor(model => model.ContractDescription, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ContractDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ContractDescription, "", new { @class = "text-danger" })

                </div>


            </div>
        </div>

        <hr />

     

     
    </div>

}
            @*<div class="form-group">
                    <div class="row">
                        <div class="control-label col-md-3">AS OF</div>
                        <div> <input type="text" id="mndt" class=" col-md-3 form-control" /></div>
                        <div><input type="submit" value="Search" class="btn btn-primary btn-large" /></div>
                    </div>
                </div>*@


            <div id="myModal" class="modal fade in">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="myModalContent"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="row">
                    <div id="replacetarget">
                        @if (User.IsInRole("Physical") || User.IsInRole("Physical Region") || User.IsInRole("Central") || User.IsInRole("NISRIP Physical") || User.IsInRole("FSDE Physical") || User.IsInRole("SRIP Physical") || User.IsInRole("CARP Physical") || User.IsInRole("PIDP Physical"))
            {


                { Html.RenderAction("IndexContractFile", "Contract", new { id = Model.ContractID, sub = Model.ContractName }); }
            }


                    </div>
                </div>
            </div>



            <div>
                @Html.ActionLink("Back to List", "Edit", "Contract", new  { id = Model.IDAccomp },null)
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")

                <script type="text/javascript">
                    $(function () {
                        $('#mndt').datepicker(
                                       {
                                           dateFormat: "mm/yy",
                                           changeMonth: true,
                                           changeYear: true,
                                           showButtonPanel: true,
                                           onClose: function (dateText, inst) {


                                               function isDonePressed() {
                                                   return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                                               }

                                               if (isDonePressed()) {
                                                   var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                                                   var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                                                   $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');

                                                   $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                                               }
                                           },
                                           beforeShow: function (input, inst) {

                                               inst.dpDiv.addClass('month_year_datepicker')

                                               if ((datestr = $(this).val()).length > 0) {
                                                   year = datestr.substring(datestr.length - 4, datestr.length);
                                                   month = datestr.substring(0, 2);
                                                   $(this).datepicker('option', 'defaultDate', new Date(year, month - 1, 1));
                                                   $(this).datepicker('setDate', new Date(year, month - 1, 1));
                                                   $(".ui-datepicker-calendar").hide();
                                               }
                                           }
                                       })
                    });

                </script>
            }
