@model AccompProject.Models.ProjectCoordinate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project Coordinate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idaccomp )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idaccomp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Session["idaccomp"].ToString(), sub = Session["subproject"].ToString()})
        </div>
    }
</div>
