@model AccompProject.Models.DBM

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "DBM", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        
        
        <div class="form-group">

            <div class="row">


                <div class="col-md-3 control-label">
                  MainProject
                </div>
                <div class="col-md-3 control-label">
                    @Session["mainp"].ToString()
                </div>

                <div class="col-md-3 control-label">
                    Amount
                </div>
                <div class="col-md-3 control-label">
                    @Session["amt"].ToString()
                </div>
              

            </div>
        </div>

        <div class="form-group">

            <div class="row">

                <div class="col-md-3 control-label">
                    Subproject
                </div>
                <div class="col-md-3 control-label">
                    @Session["subp"].ToString()
                </div>

            </div>
        </div>

          
        <hr />
        
        @Html.HiddenFor(model => model.IDAccomp, new { @Value = Session["idaccomp"].ToString() })
                <div class="form-group">
            @Html.LabelFor(model => model.CW_Bidded, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CW_Bidded)
                    
                    @Html.ValidationMessageFor(model => model.CW_Bidded, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bid_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bid_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bid_date, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CW_Schedule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CW_Schedule, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CW_Schedule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAW, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FAW)
                    @Html.ValidationMessageFor(model => model.FAW, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAW_Schedule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAW_Schedule, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAW_Schedule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.Label("FILE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

